$theme-colors: (
  "primary": #6C63FF,
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.btn-primary {
    color: white !important;
    font-weight: bold !important;
}

.nav-link.active {
    border-bottom: 0.25rem solid #6C63FF;
}

blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgb(51, 54, 255);
    color: rgb(94, 94, 94);
}

.format-article img {
    width: 100%;
}

.social-links {
    a {
        :hover {
            color: #a7a2ff;
        }

        transition: 0.5s;
        cursor: pointer;
    }
}

.fade-text {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.fade-text img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    pointer-events: none;
    z-index: 2;
}

.fade-text::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    transition: opacity 0.5s;
    opacity: 0.5;
    pointer-events: none;
}

.fade-text:hover::after {
    opacity: 0.8;
}
